.bgImage{
    background: url(img7.jpg);
    background-size: cover;
    background-color: rgba(240, 240, 240, 0.463);
    background-blend-mode: soft-light;

}
.body{
    text-indent:10%; 
    font-size:110%; 
    font-family: 'Courier New', Courier, monospace;
}
h1{
    

}

h2{
    color:brown;
    margin-top: 0%;
    margin-bottom: 10pt;
}