body {
    box-sizing: border-box;
    background-color: #080728;

    overflow: hidden;
    padding: 0.5%;

}

.container {
    object-fit: contain;
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: auto;
    border: 1px solid #451B61;
}

.steurungbtn {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: #451B61;
    font-size: 30px;
    border: 1px solid #451B61;

}

.btn-grid {

    margin-left: 1%;
    margin-bottom: 0.5%;
}


.btn {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: #451B61;
    font-size: 30px;
    border: 1px solid #451B61;
}


.btn:hover {
    border-color: black;
    background-color: #451B61;
}



.MainText {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-right: 1%;
    font-size: 25px;
    border: 1px solid #451B61;

}



.btn-grid {
    grid-template-columns: auto;
}

#myPicture {
    object-fit: cover;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    width: 100%;
    height: 100vh;
}

@media screen and (orientation: portrait) {
    body {
        height: 100vh;
    }
}