h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:hsl(56, 87%, 46%);
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-color: hsl(56, 87%, 36%);;

}
h2{
    color: aquamarine;
    text-align: center;
    font-size: xx-large;
    text-decoration:underline;
    text-decoration-color: rgb(30, 65, 53);
}

.greentext {
    color: hsl(140, 100%, 18%);
   border-style: solid;
   margin-left: 900px;
   border-radius: 10px;
   

}
.redtext{
    color: rgb(190, 25, 25);
}
.styletext{
    text-align: center;
    text-decoration:line-through;
    text-decoration-color: green ;
}
.spanny{
    font-family: 'Smooch', cursive;

}

