h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:hsl(56, 87%, 46%);
    display: flex;
    font-size: xx-large;
    background-color: rgb(80, 61, 61);
    text-decoration-color: hsl(56, 87%, 36%);
    margin-top: 20px;
    width: 100%;
    height: 100%;

}
h2{
    color: aquamarine;
    text-align: center;
    font-size: xx-large;
    text-decoration:underline;
    text-decoration-color: rgb(30, 65, 53);
}

.greentext {
    color: hsl(140, 100%, 18%);
    height: 200px;
    width: 100%;
    font-size: 19px;
    
    
  
}

.redtext{
    color: rgb(190, 25, 25);
}
.styletext{
    text-align: center;
    text-decoration:line-through;
    text-decoration-color: green ;
    border-style:solid;
    margin-right: 900px;
    float: left;
    border-radius: 10px;
}
.spanny{
    font-family: 'Smooch', cursive;

}


.picture{
    width: 180px;
    float: left;
    
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-inline-start: 0px;

}
.menu > div{
    color: black;
        font-style: bold ;
        font-size: 24px;
        margin-right: 2px;
    
        

}
/* DropMenu*/
.homeMenu {
    display: none;
    position: absolute;

    min-width: 120px;
    z-index: 2;
    font-size: 16px;
}
.homeDropDown:hover { 
   /* background-color: #cfcfcf;*/
    transform: scale(1,2);
}
.homeMenu > p:hover {
    background-color: #cfcfcf;
}

.homeDropDown{
    position: relative;
}
.homeDropDown:hover .homeMenu{
    display: block;
}
.menuname {
    padding-left: 6px;
}

.textOriented{
    margin: 0;
    display: flex;
    
}
.textOriented > p{
    border-style: solid;
    text-decoration-color: black;
}
/* Search Menu*/
.searchMenu{
    display: flex;
    float: right;
}

/* 3 Line Menu*/
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }